/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 févr. 2020, 16:06:21
    Author     : kulturman
*/

.card-primary {
    background:#3A3685;
    color: white;
}

.card-primary__title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.error-label { color: red; }
.hidden-field {
    display: none;
}

.page-item.active .page-link {
    background-color: #DD9933;
    border-color: #e0911a;
}
div.dataTables_wrapper div.dataTables_info, .dt-buttons {
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_paginate, div.dataTables_wrapper div.dataTables_filter {
    float: right;
    display: inline-block;
}